// Colors
$color-primary: hsl(12, 88%, 59%);
$color-secondary: hsl(228, 39%, 23%);
$color-secondary-dark: hsl(233, 12%, 13%);
$color-primary-dark: #28b485;

$color-gray-dark: hsl(227, 12%, 61%);
$color-gray-light: hsl(0, 0%, 98%);
$color-light-red: hsl(13, 100%, 96%);

// Font sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$border-radius-small: 3px;
