.cta {
  position: relative;
  padding: 4rem 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  color: white;
  overflow: hidden;
  .btn {
    z-index: 1;
  }

  &::before {
    content: '';
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -17%;
    left: -6%;
    width: 60%;
    height: 117%;
    opacity: 0.1;
  }

  &::after {
    content: '';
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -394%;
    right: -84%;
    width: 103%;
    height: 493%;
    opacity: 0.1;
  }
}
