.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 3rem;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;

    max-width: 800px;
  }

  &__title {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    .heading {
      margin-bottom: 20px;
      @media screen and (max-width: 1200px) {
        text-align: center;
      }
    }
    .text {
      @media screen and (min-width: 1200px) {
        max-width: 400px;
      }
    }
  }
}

.features-item {
  display: grid;
  grid-template-columns: min-content, 1fr;
  grid-template-rows: repeat(2, (min-content));
  gap: 15px;
  align-items: center;

  &__number {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 1.25rem 0.6rem;
    border-radius: 20px;
    background-color: $color-primary;
    color: white;
    font-size: 1.1rem;
  }

  &__title,
  &__description {
    grid-column: 2/3;
  }

  &__title {
    font-weight: 600;
    position: relative;

    @media screen and (max-width: 1200px) {
      &::before {
        position: absolute;
        content: '';
        width: 120%;
        border-radius: 20px;
        left: -10%;
        top: -50%;
        height: 200%;
        background-color: rgba(238, 203, 183, 0.61);
        z-index: -1;
      }
    }
  }
}
