.footer {
  padding: 6rem 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: $color-secondary-dark;
  color: white;

  .socials {
    grid-column: 1 / span 1;
    grid-row: 4/-1;
  }

  &__list--1 {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  &__list--2 {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    align-self: flex-start;
    transition: all 0.2s;
    &:hover {
      color: $color-primary;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .copyright {
    grid-column: 4 / -1;
    grid-row: 4 / -1;
  }
}

.signup-form {
  .input {
    border-radius: 30px;
    padding: 1rem 0.9rem;
    border: 2px solid $color-primary;
    color: $color-primary;
  }
}
