.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.nav-list {
  list-style-type: none;

  @media screen and (max-width: 850px) {
    position: fixed;
    height: 100vh;
    padding: 0 3rem;
    right: -100%;
    top: 0;
    z-index: 2;
    background-color: $color-gray-light;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    transition: all 0.2s;
    & > &__item {
      display: inline-block;
      padding: 20px;
    }
  }

  &__item {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 0.9rem;
  }

  &__link {
    color: $color-secondary;
    padding: 5px;
    transition: all 0.2s;
    &:hover {
      color: $color-gray-dark;
    }
  }
}

@media screen and (min-width: 850px) {
  #toggler,
  .hamburger {
    display: none;
  }
}

#toggler:checked ~ .nav-list {
  right: 0;
}

#toggler {
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
  position: absolute;
  top: 0;
  right: 3rem;
  margin-left: auto;
  z-index: 4;
  opacity: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 3rem;
  background: $color-primary;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
  z-index: 5;
  width: 30px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    background: $color-primary;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease;
  }
}

.hamburger::after {
  top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

#toggler:checked + .hamburger {
  background: rgba(0, 0, 0, 0);
}

#toggler:checked + .hamburger::before {
  top: 0;
  transform: rotate(45deg);
  background: black;
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

#toggler:checked + .hamburger::after {
  top: 0;
  transform: rotate(135deg);
  background: black;
}

/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu {
  background: white;
  width: 0%;
  height: 100vh;

  /* APPLYING TRANSITION TO THE MENU :  */

  transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

#toggler:checked ~ .menu {
  width: 30%;
}
