.hero {
  display: flex;
  padding: 50px 0;

  & > * {
    flex: 0 0 50%;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;

    & > * {
      flex: 0 0 100%;
    }
  }
  &__text {
    padding: 0 30px;
    @media screen and (min-width: 1200px) {
      padding-right: 0;
      padding-left: 30px;
    }
    text-align: left;
    letter-spacing: 0.12em;
  }

  .heading {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      font-size: 10vw;
    }
  }

  .text {
    @media screen and (min-width: 1200px) {
      max-width: 400px;
    }
    @media screen and (min-width: 600px) and (max-width: 1200px) {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero__text,
  .graph {
    margin: 0 auto;
  }

  .hero__text {
    text-align: center;
  }
}
