.hero {
  display: flex;
  padding: 50px 0;

  & > * {
    flex: 0 0 50%;
  }

  &__text {
    padding-left: 30px;
    text-align: left;
    letter-spacing: 0.12em;
  }

  .heading {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 30px;
  }
}
