.testimonials-section {
  padding: 50px 0;
}

.testimonials {
  display: grid;
  gap: 20px;
  grid-template-columns: 20px repeat(4, 30%) 20px;
  overflow: auto;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 50px 0;
  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    content: '';
  }
}

.testimonial {
  position: relative;
  padding: 3rem 2rem;
  background-color: $color-gray-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    .testimonial__img {
      top: -38px;
    }
  }

  &__img {
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 65px;
    transition: all 0.2s;
  }

  &__name {
    font-weight: 600;
  }
}
