.btn {
  display: inline-block;
  padding: 1rem 1.5rem;

  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    color: white;
  }
  &--secondary {
    background-color: white;
    color: $color-primary;
  }

  &:hover {
    transform: translateY(-2px);
    filter: brightness(130%);
    box-shadow: 0 10px 7px 3px rgba(0, 0, 0, 0.1);
  }
}

button.btn {
  border: none;
}
