@mixin animatedBox($origin, $height, $color, $offset) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: $origin;
  width: 50px;
  height: $height;
  background-color: $color;
  left: $offset;
  @if $origin == bottom {
    border-radius: 10px 10px 0 0;
  }
  @if $origin == top {
    border-radius: 0 0 10px 10px;
  }
}

$bar-width: 10%;
$bar-gutter: 3%;

.box {
  width: 400px;
  height: 400px;
  > * {
    width: 100%;
    height: 50%;
    position: relative;
  }
}

.bar {
  position: absolute;
  width: $bar-width;
  height: 100%;
  backface-visibility: hidden;

  &.bar-col {
    &-1 {
      left: 0;
    }
    &-2 {
      left: calc(#{$bar-gutter} + #{$bar-width});
    }
    &-3 {
      left: calc((#{$bar-gutter} * 2) + (#{$bar-width} * 2));
    }
    &-4 {
      left: calc((#{$bar-gutter} * 3) + (#{$bar-width} * 3));
    }
    &-5 {
      left: calc((#{$bar-gutter} * 4) + (#{$bar-width} * 4));
    }
  }
}

div[id^='bar-top-'] {
  bottom: 0;
  transform-origin: bottom;
  border-radius: 5px 5px 0 0;
}
div[id^='bar-bottom-'] {
  top: 0;
  transform-origin: top;
  border-radius: 0px 0px 5px 5px;
}

/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
  0.0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
