@mixin animatedBox($origin, $height, $color, $offset) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: $origin;
  width: 50px;
  height: $height;
  background-color: $color;
  left: $offset;
  @if $origin == bottom {
    border-radius: 10px 10px 0 0;
  }
  @if $origin == top {
    border-radius: 0 0 10px 10px;
  }
}
