*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  position: relative;
}

body {
  background-image: url(images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: top -150px right -20%;
}
